<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>728640036406-fjfadtokatli0jjhln7lrpdub86n3dcb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.728640036406-fjfadtokatli0jjhln7lrpdub86n3dcb</string>
	<key>API_KEY</key>
	<string>AIzaSyAZ9AThIiH8uOoI03Vvjgn27giNN-eqPqQ</string>
	<key>GCM_SENDER_ID</key>
	<string>728640036406</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.31seul.tiktokClone</string>
	<key>PROJECT_ID</key>
	<string>tiktok-31seul</string>
	<key>STORAGE_BUCKET</key>
	<string>tiktok-31seul.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:728640036406:ios:556a942fc9c9201e2d4297</string>
</dict>
</plist>